.App {
  background-color: orange;
  width: 500px;
  height: 500px;
  justify-content: space-between;
  margin: 300px auto;
  padding: 200px 50px;
  align-items: center;
}

.operation {
  padding-top: 50px;
}

.operation > select {
  width: 40px;
}

.operation > button {
  margin-left: 10px;
}

.App h2 {
  font-size: 20px;
}