.cart {
  background-color: #333;
}

.bag {
  display: flex;
  position: relative;
}

.bag > img {
  height: 80rem;
  width: 80rem;
}

.count {
  background-color: #d62828;
  color: #bbb;
  /*font-size: 40rem;*/
  height: 40rem;
  line-height: 40rem;
  width: 40rem;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  position: absolute;
  left: 50rem;
  top: 5rem;
}

.cost {

}

.nothing {
  font-size: 40rem;
  font-weight: bold;
}