.cart {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20rem;
  width: 700rem;
  height: 80rem;
  background-color: #333;
  border-radius: 40rem;
  z-index: 1001;
}

.bag {
  position: relative;
  left: 70rem;
  width: 400rem;
  align-items: center;
}

.bag > img {
  position: absolute;
  height: 120rem;
  width: 120rem;
  top: -30rem;
}

.count {
  position: absolute;
  left: 90rem;
  top: -20rem;
  text-align: center;
  width: 50rem;
  height: 50rem;
  line-height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #d62828;
  color: #bbb;
  font-size: 30rem;
  font-weight: bold;
  overflow: hidden;
}



.cost, .nothing {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  line-height: 80rem;
  color: #f2f2f2;
  font-size: 40rem;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.cost::before {
  font-size: 30rem;
  line-height: 20rem;
  content: '总花费：¥ ';
  color: #aaa;
}

.nothing {
  font-size: 40rem;
  font-weight: bold;
}

.cart button {
  outline: none;
  border: none;
  border-radius: 40rem;
  width: 160rem;
  font-size: 30rem;
  color: #333;
  font-weight: bold;
}

.costButton {
  background-color: #fcbf49;
}

.nothingButton {
  background-color: #666;
}