* {
    box-sizing: border-box;
}

body {
    background-color: #dfdfdf;
    margin: 0;
}

.logs {
    width: 800px;
    background-color: #eae2b7;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}