* {
    box-sizing: border-box;
}

body {
    background-color: #dfdfdf;
    margin: 0;
}

.app {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    background-color: #bfc;
    text-align: center;
}

.app button {
    width: 100px;
    font-size: 50px;
    margin: 0 20px;

}