.detail {
  position: absolute;
  display: flex;
  flex-flow: column;
  bottom: 0;
  width: 100%;
  max-height: 75%;
  padding-bottom: 120rem;
  border-top-left-radius: 40rem;
  border-top-right-radius: 40rem;
  background-color: #f2f2f2;
}

.detail > header {
  display: flex;
  justify-content: space-between;
  padding: 30rem;
}

h4 {
  margin: 0;
  font-size: 30rem;
  font-weight: bold;
}

header div {
  color: #666;
  font-size: 24rem;
  z-index: 1001;
}

header div span {
  margin-left: 20rem;
}

.content {
  bottom: 100rem;
  overflow: auto;
}

.food {
  display: flex;
  border-bottom: 1px #f2f2f2 solid;
  padding: 0 20rem;
  align-items: center;
  width: 750rem;
}

.foodPic > img {
  width: 240rem;
}

img {
  width: 100%;
}

.foodInfo {
  width: 100%;
  padding: 0 20rem;
}

.foodName {
  font-weight: normal;
  font-size: 26rem;
}

.foodPrice {
  display: flex;
  justify-content: space-between;
  margin-top: 30rem;
}

.foodPrice > p {
  font-size: 22rem;
  font-weight: bold;
}

.foodPrice > p::before {
  content: '¥';
  font-size: 16rem;
}